body
{
  margin: 0;
  background:rgb(255, 236, 158);
  word-wrap: break-word;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; /* To make sure it's above other content */
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: 100vh; /* Filling the entire height of the viewport */
  display: flex;
  flex-direction: column; /* Align items vertically */
  justify-content: flex-start; /* Align items at the top */
  font-size: 24px;
}

.header ul {
  list-style: none;
  display: flex;
  flex-direction: column; /* Align items vertically */
}

.header li {
  margin-bottom: 10px;
}

.header a {
  text-decoration: none;
  color: black;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.header a:hover {
  background-color: #f0f0f0;
}


.top-bar
{
  background: #252525;

  color: #f5f5f5;

  margin: 0;

  text-align: center;

  padding: 10px;
}

#topBarTitle
{
  font-family: "Segoe UI", sans-serif;

  text-align: center;

  margin: 0;

  font-size: 30px;
}

#dateLabel
{
  font-family: "Segoe UI", sans-serif;

  font-weight: bold;
}

.writing-section
{
  margin: 10px;
}

form
{
  -webkit-tap-highlight-color: transparent;

  text-align: center;
}

#blogTitle
{
  font-family: "Roboto", sans-serif;

  outline: none;

  border: 1.5px solid lightgrey;
  
  color: #333;

  font-size: 20px;

  width: 37.5%;

  margin-bottom: 5px;

  border-radius: 5px;

  padding: 5px 5px;
}

#blogPara
{
  font-family: "Roboto", sans-serif;

  outline: none;

  border: 1.5px solid lightgrey;

  color: #333;

  resize: none;

  font-size: 20px;

  margin-top: 5px;

  border-radius: 5px;

  padding: 5px 5px;
}

#blogDate
{
  border: none;

  outline: none;

  font-size: 1em;
}

#saveBtn
{
  border: none;

  background: dodgerblue;

  color: #fff;

  font-size: 17.5px;

  padding: 5px 25px;

  border-radius: 5px;

  cursor: pointer;
}

.all-posts-container
{
/* 
  margin-left: auto;

  margin-right: auto; */

  font-family: "Roboto", sans-serif;

  display: flex;

  flex-direction: row;

  flex-wrap: wrap;

  align-items: center;

  justify-content: center;
}

.post-container
{
  background: #d3d3d3;

  margin: 5px;

  width: 25%;

  height: 500px;

  border-radius: 15px;
}

#displayTitle
{
  font-weight: bold;
}

#displayImage
{
  width: 50%;

  height: auto;
  
  border-radius: 15px;
}