body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background:rgb(255, 236, 158);
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999; /* To make sure it's above other content */
    background: #fff;
    padding: 1px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    height: 100vh; /* Filling the entire height of the viewport */
    display: flex;
    flex-direction: column; /* Align items vertically */
    justify-content: flex-start; /* Align items at the top */
    font-size: 24px;
  }
  
  .header ul {
    list-style: none;
    display: flex;
    flex-direction: column; /* Align items vertically */
  }
  
  .header li {
    margin-bottom: 10px;
  }
  
  .header a {
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 3px;
    transition: background-color 0.3s ease;
  }
  
  .header a:hover {
    background-color: #f0f0f0;
  }
  

.mother {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.child {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.outputbox {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
}

.users_info table {
    width: 100%;
    border-collapse: collapse;
}

.users_info th, .users_info td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

.users_info th {
    background-color: #f2f2f2;
    font-weight: bold; /* Make th elements bold */
}

.users_info tr:nth-child(even) {
    background-color: #f2f2f2;
}
